@model List<FarmerBlog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Site Blog Sayfası</h1>
<hr />

@if (ViewBag.Message != null)
{
    <div class="text-success">@ViewBag.Message</div>
}

<div class="clearfix">
    <div align="right">
        <a href="/Admin/CreateBlogArticle"><button class="btn btn-success" btn-xs>Yeni Blog Yazısı Ekle</button></a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p style="color:red;">Çiftçi Kategorileri</p>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Blog Resmi</th>
                                <th>Blog Başlık</th>
                                <th>Blog Açıklaması</th>
                                <th>Blog Sıra No</th>
                                <th>Blog Kayıt Tarihi</th>
                                <th>Blog Ekleyen Ad Soyad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td><img height="80" width="80" src="~/img/BlogImages/@item.ImagePath"/></td>
                                    <td>@item.Title</td>
                                    <td>
                                        <textarea id="editor" rows="6" cols="40" class="form-control"> @item.Description</textarea>
                                    </td>
                                    <td>@item.QueueNumber</td>
                                    <td>@item.CreatedDate</td>
                                    <td>
                                        @foreach (var users in ViewBag.CreatedBlogUsers)
                                        {
                                            if(item.UserId == users.Id)
                                            {
                                                <p>@users.Name  @users.Surname </p>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <a asp-controller="Admin" asp-action="EditBlogArticle" asp-route-Id="@item.Id" class="btn btn-success btn-sm mr-2">Düzenle</a>
                                        <form asp-controller="Admin" asp-action="DeleteBlogArticle" method="post" style="display:inline;">
                                            <input type="hidden" name="Id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>