@model List<HappyFarmer.Entities.FarmerAboutUs>
@{
    ViewData["Title"] = "GetAboutUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="clearfix">
    <div align="right">
        <a href="/Admin/CreateAboutUs"><button class="btn btn-success" btn-xs>Yeni Hakkımızda İçeriği Ekle</button></a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Site Hakkımızda Ekranı
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hakkımızda Başlık</th>
                                <th>Hakkımızda İçerik</th>
                                <th>Vizyon</th>
                                <th>Misyon</th>
                                <th>Video URL</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td><center><textarea id="edit" rows="15" cols="40">@item.Content</textarea></center></td>
                                    <td>@item.Vision</td>
                                    <td>@item.Mission</td>
                                    <td>@item.VideoPath</td>
                                    <td>
                                        <a asp-controller="Admin" asp-action="EditAboutUs" asp-route-id="@item.Id" class="btn btn-success btn-sm mr-2">Düzenle</a>
                                        <form asp-controller="Admin" asp-action="DeleteAboutUs" method="post" style="display:inline;">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>