@model List<FarmerSlider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <center><h1 class="page-head-line">Anasayfa</h1></center>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="main-box mb-red">
            <a href="#">
                <i class="fa fa-bolt fa-5x"></i>
                <h5>İlandaki Ürün Sayısı: @ViewBag.ProductsCount </h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-dull">
            <a href="/admin/CustomerDeclareRequest">
                <i class="fa fa-plug fa-5x"></i>
                <h5>@ViewBag.CustomerDeclaresCount Bekleyen İlan İsteği</h5>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="main-box mb-pink">
            <a href="#">
                <i class="fa fa-dollar fa-5x"></i>
                <h5>Site Üye Sayısı: @ViewBag.GetAllCustomer </h5>
            </a>
        </div>
    </div>

    @*  *@
    <div class="col-md-4">
        <div class="main-box mb-pink">
            <a asp-controller="Admin" asp-action="Blog">
                <i class="fa fa-certificate fa-5x"></i>
                <h5>Yayında Olan Blog Yazıları: @ViewBag.FastAccessBlog </h5>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="main-box mb-red">
            <a asp-controller="Admin" asp-action="Slider">
                <i class="fa fa-sliders fa-5x"></i>
                <h5>Yayında Olan Site Slider: @ViewBag.FastAccessSlider </h5>
            </a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="main-box mb-dull">
            <a asp-controller="Admin" asp-action="GetAdminBanner">
                <i class="fa fa-bell fa-5x"></i>
                <h5>Yayında Olan Site Banner: @ViewBag.FastAccessBanner </h5>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <div id="reviews" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">

                            <div class="col-md-10 col-md-offset-1">

                                <h4><i class="fa fa-quote-left"></i>Gerçek çiftçi ürünü göremeyeceği halde toprağı ekendir. <i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">
                                    <img src="assets/img/user.gif" alt="" class="img-u image-responsive" />
                                </div>
                                <h5 class="pull-right"><strong class="c-black">Cicero</strong></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-10 col-md-offset-1">

                                <h4><i class="fa fa-quote-left"></i>Çiftçiler güneş batana kadar çalışmazlar, iş bitene kadar çalışırlar.<i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">
                                    <img src="assets/img/user.png" alt="" class="img-u image-responsive" />
                                </div>
                                <h5 class="pull-right"><strong class="c-black">La Edri</strong></h5>
                            </div>

                        </div>
                        <div class="item">
                            <div class="col-md-10 col-md-offset-1">

                                <h4><i class="fa fa-quote-left"></i>Hangi çiftçi tohum ektiği, suladığı, dibini kazdığı, otlarını temizlediği bir ürünün yetişmesinden zevk almaz?  <i class="fa fa-quote-right"></i></h4>
                                <div class="user-img pull-right">
                                    <img src="assets/img/user.gif" alt="" class="img-u image-responsive" />
                                </div>
                                <h5 class="pull-right"><strong class="c-black">Hayati İnanç</strong></h5>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#reviews" data-slide-to="0" class="active"></li>
                        <li data-target="#reviews" data-slide-to="1"></li>
                        <li data-target="#reviews" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <hr />

        <div class="col-12">
            <iframe style="width: 100%; height: 600px;" id="ifr" src="../../"></iframe>
        </div>
    </div>
</div>
