@using HappyFarmer.DataAccess.Enums
@model List<HappyFarmer.Entities.FarmerProduct>
@{
    ViewData["Title"] = "CategoryWithProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Filtreleme Ekranı</h3>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li>Filtreleme Ekranı</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_reverse mt-70 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <aside class="sidebar_widget">
                    <div class="widget_inner">
                        <div class="widget_list widget_categories">
                            <h3>Şehre Göre Filtrele</h3>
                            <ul>
                                <li class="widget_sub_categories sub_categories1">
                                    <a href="javascript:void(0)">İl Seçiniz</a>
                                    <ul class="widget_dropdown_categories dropdown_categories1">
                                        @foreach (var item in ViewBag.CityWithFilter)
                                        {
                                            <li><a asp-action="CategoryWithProduct" asp-route-type="@ViewBag.Type" asp-route-City="@item.Cities">@item.Cities </a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_filter">
                            <h3>Fiyata Göre Filtrele</h3>
                            <form asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@ViewBag.Type" method="get">

                                <input type="hidden" class="form-control" name="type" value="@ViewBag.Type">
                                <input type="number" name="lowPrice" min="0" max="10000">
                                <input type="number" name="topPrice" min="0" max="10000">
                                <button type="submit" style="margin-left:2px;" class="btn btn-info btn-sm">Filtrele</button>

                            </form>
                        </div><br />
                        <div class="widget_list widget_color">
                            <h3>Kategorilere Göre Filtrele</h3>
                            <ul>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.KucukBas">Küçük Baş Hayvanclık</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.BuyukBas">Büyük Baş Hayvancılık</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Kumes">Kümes Hayvanları</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Evcil">Evcil Hayvanlar</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Sut">Süt Ürünleri</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.YiyecekIcecek">Hayvansal Gıda</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Traktor">Traktörler</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tarla">Tarla & Arazi</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Ekipman">Traktör Ekipmanları</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Sebze">Sebzeler</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Meyve">Meyveler</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tahıl">Tahıl Ürünleri</a>
                                </li>
                                <li>
                                    <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.YemAndOtsuBitki">Yem ve Otsu Bitkiler</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list widget_color">
                            <h3>Şehirlere Göre Filtrele</h3>
                            <form asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@ViewBag.Type" method="get">

                                <input type="hidden" class="form-control" name="type" value="@ViewBag.Type">

                                <input type="text" style="margin-top:2px;" placeholder="İl" value="Konya" class="form-control" name="City">

                                <input class="form-control" style="margin-top:4px;" placeholder="İlçe" value="Cihanbeyli" type="text" name="Country">

                                <input class="form-control" style="margin-top:4px;" placeholder="Mahalle" value="Ağabeyli" type="text" name="Neighborhood">

                                <button type="submit" style="margin-top:4px; text-align=center; width:100%" class="btn btn-warning btn-sm">Filtrele</button>

                            </form>
                        </div>
                        <div class="widget_list widget_manu">
                            <h3>Kategoriye Göre Ürün Adeti</h3>
                            <ul>
                                @{
                                    var productType = "";
                                    var categoryRecordData = 0;
                                }
                                @if (ViewBag.CategoryWithCount != null)
                                {
                                    foreach (var item in ViewBag.CategoryWithCount)
                                    {
                                        if (item.FarmerDeclareType == 10)
                                        {
                                            productType = "Büyük Baş";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 11)
                                        {
                                            productType = "Küçük Baş";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 12)
                                        {
                                            productType = "Kümes Hayvancılığı";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 13)
                                        {
                                            productType = "Evcil Hayvan";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 14)
                                        {
                                            productType = "Süt Ürünleri";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 15)
                                        {
                                            productType = "Hayvansal Ürünler";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 20)
                                        {
                                            productType = "Traktör";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 21)
                                        {
                                            productType = "Tarla";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 22)
                                        {
                                            productType = "Tarım Ekipmanları";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 23)
                                        {
                                            productType = "Sebze";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 24)
                                        {
                                            productType = "Meyve";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 25)
                                        {
                                            productType = "Tahıl Ürünleri";
                                            categoryRecordData++;
                                        }
                                        else if (item.FarmerDeclareType == 26)
                                        {
                                            productType = "Yem & Otsu Bitkiler";
                                            categoryRecordData++;
                                        }

                                        <li>
                                            <a style="color:red;" href="#">@productType<span style="color:blue;">(@item.StockQty)</span></a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="widget_list tags_widget">
                            <h3>Satışa Sunulan Ürün Şehirleri</h3>
                            <div class="tag_cloud">
                                @if (ViewBag.ProductCities != null)
                                {
                                    foreach (var item in ViewBag.ProductCities)
                                    {
                                        <a href="#">@item</a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="widget_list banner_widget">
                            @if (ViewBag.LowerBanner != null)
                            {
                                @foreach (var item in ViewBag.LowerBanner)
                                {
                                    <div class="banner_thumb">
                                        <a href="#"><img src="~/img/BannerImages/@item.ImageURL" alt=""></a>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="shop_toolbar_wrapper">
                    <div class=" niceselect_option">
                        <form asp-controller="Category" asp-action="GlobalFilteredProduct" asp-route-type="@ViewBag.type" method="post">
                            <select name="responseText" id="responseText">
                                <option value="@ProductFilteredEnum.A_Z_ye.ToString()">A 'dan Z ' ye</option>
                                <option value="@ProductFilteredEnum.Z_A_ya.ToString()">Z 'den A ' ya</option>
                                <option value="@ProductFilteredEnum.Son_ilk.ToString()">Son tarihten ilk tarihe</option>
                                <option value="@ProductFilteredEnum.Ilk_son.ToString()">İlk tarihten son tarihe</option>
                            </select>
                            <button class="btn btn-success btn-sm btn-block mt-2 mb-2" type="submit">Sırala</button>
                        </form>
                    </div>
                </div>


                <div class="site-section site-section-sm bg-light">
                    <div class="container">
                        <div class="row mb-5">
                            @if (ViewBag.SetGlobalFiltered != null)
                            {
                                foreach (var item in ViewBag.SetGlobalFiltered)
                                {
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <div class="property-entry h-100">
                                            <a href="property-details.html" class="property-thumbnail">
                                                <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:250px;height:250px;" src="~/img/ProductImages/@item.ImageUrl" alt="Image" class="img-fluid"></a>
                                            </a>

                                            <div class="p-4 property-body">
                                                <center> <h5 class="property-title"><a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id">@item.Name</a></h5></center>
                                                <center>
                                                    @{
                                                        var oldPrice = (item.Price * 20) / 100;
                                                        var newPrice = item.Price + oldPrice;
                                                    }
                                                    <span class="current_price">₺ @item.Price</span>
                                                    <span class="old_price"><s>₺ @newPrice</s></span>
                                                </center>
                                                <center>
                                                    <h6>İlan Tarihi: @item.AnnouncementDate</h6>
                                                </center>  
                                                <center>
                                                    <h6>@item.City/@item.Country</h6>
                                                </center>
                                            </div>
                                            <div class="card-footer text-center">
                                                <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detay</a>
                                                @if (item.FarmerDeclareType == 14 || item.FarmerDeclareType == 15 || item.FarmerDeclareType == 22 || item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24 || item.FarmerDeclareType == 25 || item.FarmerDeclareType == 26)
                                                {
                                                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm ml-2">Sepete Ekle</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id" class="btn btn-warning btn-sm ml-2">İncele</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            else
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-md-6 col-lg-4 mb-4">
                                        <div class="property-entry h-100">
                                            <a href="property-details.html" class="property-thumbnail">
                                                <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:250px;height:250px;" src="~/img/ProductImages/@item.ImageUrl" alt="Image" class="img-fluid"></a>
                                            </a>

                                            <div class="p-4 property-body">
                                                <center> <h5 class="property-title"><a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id">@item.Name</a></h5></center>
                                                <center>
                                                    @{
                                                        var oldPrice = (item.Price * 20) / 100;
                                                        var newPrice = item.Price + oldPrice;
                                                    }
                                                    <span class="current_price">₺ @item.Price</span>
                                                    <span class="old_price"><s>₺ @newPrice</s></span>
                                                </center>
                                                <center>
                                                    <h6>İlan Tarihi: @item.AnnouncementDate</h6>
                                                </center>
                                                <center>
                                                    <h6>@item.City/@item.Country</h6>
                                                </center>
                                            </div>
                                            <div class="card-footer text-center">
                                                <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detay</a>
                                                @if (item.FarmerDeclareType == 14 || item.FarmerDeclareType == 15 || item.FarmerDeclareType == 22 || item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24 || item.FarmerDeclareType == 25 || item.FarmerDeclareType == 26)
                                                {
                                                    <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm ml-2">Sepete Ekle</a>
                                                }
                                                else
                                                {
                                                    <a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id" class="btn btn-warning btn-sm ml-2">İncele</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="shop_toolbar t_bottom">
                    <div class="pagination">
                        <ul>
                            <li class="current">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">İleri</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product_area mb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <p>Yakın zamanda mağazaya eklenen ilanlar</p>
                    <h2>Hayvan İlanları</h2>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="row">
                <div class="col-12">
                    <div class="product_carousel product_column5 owl-carousel">
                        @foreach (var item in ViewBag.AnimalsProduct)
                        {
                            if (item.FarmerDeclareType == 10 || item.FarmerDeclareType == 11 || item.FarmerDeclareType == 12 || item.FarmerDeclareType == 13 || item.FarmerDeclareType == 14 || item.FarmerDeclareType == 15)
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:275px;height:210px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <a class="secondary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:275px;height:210px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart">
                                                        <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                                                            <input type="hidden" name="productId" value="@item.Id" />
                                                            <input type="hidden" name="quantity" value="1" />
                                                            @if (item.FarmerDeclareType == 14 || item.FarmerDeclareType == 15 || item.FarmerDeclareType == 22 || item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24 || item.FarmerDeclareType == 25 || item.FarmerDeclareType == 26)
                                                            {
                                                                <button title="Add to cart"><span class="lnr lnr-cart"></span></button>
                                                            }
                                                        </form>
                                                    </li>
                                                    <li class="quick_button">
                                                        <a class="lnr lnr-magnifier" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id">@item.Name</a></h4>
                                            <p><a href="#">Fruits</a></p>
                                            <div class="price_box">
                                                @{
                                                    var olddPrice = (item.Price * 20) / 100;
                                                    var newPrice = item.Price + olddPrice;
                                                }
                                                <span class="current_price">$@item.Price</span>
                                                <span class="old_price">$@newPrice</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_area mb-65">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <p>Yakın zamanda mağazaya eklenen ilanlar</p>
                    <h2>Tarım İlanları</h2>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="row">
                <div class="col-12">
                    <div class="product_carousel product_column5 owl-carousel">
                        @foreach (var item in ViewBag.AnimalsProduct)
                        {
                            if (item.FarmerDeclareType == 20 || item.FarmerDeclareType == 21 || item.FarmerDeclareType == 22 || item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24 || item.FarmerDeclareType == 25 || item.FarmerDeclareType == 26)
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:275px;height:200px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <a class="secondary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:275px;height:200px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart">
                                                        <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                                                            <input type="hidden" name="productId" value="@item.Id" />
                                                            <input type="hidden" name="quantity" value="1" />
                                                            @if (item.FarmerDeclareType == 14 || item.FarmerDeclareType == 15 || item.FarmerDeclareType == 22 || item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24 || item.FarmerDeclareType == 25 || item.FarmerDeclareType == 26)
                                                            {
                                                                <button title="Add to cart"><span class="lnr lnr-cart"></span></button>
                                                            }
                                                        </form>
                                                    </li>
                                                    <li class="quick_button">
                                                        <a class="lnr lnr-magnifier" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id">@item.Name</a></h4>
                                            <p><a href="#">Fruits</a></p>
                                            <div class="price_box">
                                                @{
                                                    var olddPrice = (item.Price * 20) / 100;
                                                    var newPrice = item.Price + olddPrice;
                                                }
                                                <span class="current_price">$@item.Price</span>
                                                <span class="old_price">$@newPrice</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom_product_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <p>Yakın zamanda mağazaya eklenen ilanlar</p>
                    <h2>Sebze - Meyve İlanları</h2>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="row">
                <div class="col-12">
                    <div class="product_carousel product_column5 owl-carousel">
                        @foreach (var item in ViewBag.AnimalsProduct)
                        {
                            if (item.FarmerDeclareType == 23 || item.FarmerDeclareType == 24)
                            {
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:300px;height:200px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <a class="secondary_img" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"><img style="width:300px;height:200px;" src="~/img/ProductImages/@item.ImageUrl" alt=""></a>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="add_to_cart">
                                                        <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                                                            <input type="hidden" name="productId" value="@item.Id" />
                                                            <input type="hidden" name="quantity" value="1" />
                                                            <button title="Add to cart"><span class="lnr lnr-cart"></span></button>
                                                        </form>
                                                    </li>
                                                    <li class="quick_button">
                                                        <a class="lnr lnr-magnifier" asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <figcaption class="product_content">
                                            <h4 class="product_name"><a asp-controller="Product" asp-action="GetAllProductDetails" asp-route-id="@item.Id">@item.Name</a></h4>
                                            <p><a href="#">Fruits</a></p>
                                            <div class="price_box">
                                                @{
                                                    var olddPrice = (item.Price * 20) / 100;
                                                    var newPrice = item.Price + olddPrice;
                                                }
                                                <span class="current_price">$@item.Price</span>
                                                <span class="old_price">$@newPrice</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
