@model List<LoginModel>
@{
    ViewData["Title"] = "UserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";

    #region Global Constant

    var userName = "";
    var userSurname = "";
    int userType = 0;
    var userEmail = "";
    var userPassword = "";
    var userAddress = "";
    var userCity = "";
    var userPhone = "";
    var userRecordData = "";
    var userTcNo = "";
    var userImageURL = "";
    var Id = 0;

    #endregion
}

@foreach (var item in Model)
{
    userName = item.Name;
    userSurname = item.Surname;
    userType = item.UserType;
    userEmail = item.Email;
    userPassword = item.Password;
    userAddress = item.Address;
    userCity = item.City;
    userPhone = item.PhoneNumber;
    userRecordData = item.RecordData;
    userTcNo = item.TcNo;
    userImageURL = item.ImageURL;
    Id = item.Id;
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h5>Hoşgeldiniz <b style="color:red;"> @userName @userSurname </b> Bu sayfadan hesap bilgilerinizi görebilir ve profil bilgilerinizi güncelleyebilirsiniz.</h5>
                    <ul>
                        <li><a href="index.html">Anasayfa</a></li>
                        <li>Hesabım</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-2 col-lg-2">

                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#account-details" data-toggle="tab" class="nav-link">Hesap Bilgileriniz</a></li>
                            <li><a href="#dashboard" data-toggle="tab" class="nav-link">İlan Ayarları</a></li>
                            <li> <a href="/Cart/GetOrders" class="nav-link">Siparişlerim</a></li>
                            <li><a href="#downloads" data-toggle="tab" class="nav-link">Şifre Değiştir</a></li>
                            <li><a href="#address" data-toggle="tab" class="nav-link">Gelen Kutusu</a></li>
                            <li><a asp-controller="User" asp-action="Logout" class="nav-link">Çıkış Yap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10">

                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade" id="account-details">
                            <h3 style="color:green;">Hesab Bilgileriniz</h3>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-controller="User" asp-action="UserUpdateProfil" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label class="control-label col-lg-4">Yüklü Profil Resminiz</label>

                                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img width="140" height="140" src="~/img/CustomerImages/@userImageURL" alt="" /></div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <input type="file" name="file" class="form-control" />
                                                    <div align="right">
                                                        <button class="btn btn-success" type="submit">Bilgileri Güncelle</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <form asp-controller="User" asp-action="UserAccountUpdate" method="post">

                                            <p>Hesap Bilgileriniz</p>
                                            <label>İsim</label>
                                            <input type="text" name="Name" value="@userName">
                                            <input type="hidden" name="Id" value="@Id">
                                            <label>Soyisim</label>
                                            <input type="text" name="Surname" value="@userSurname">
                                            <label>Tc Kimlik No</label>
                                            <input type="number" name="TcNo" value="@userTcNo">
                                            <label>Telefon Numarası</label>
                                            <input type="number" name="PhoneNumber" value="@userPhone">
                                            <label>Adres</label>
                                            <textarea class="form-control" name="Address">@userAddress</textarea>
                                            <label>Şehir</label>
                                            <input type="text" name="City" value="@userCity">
                                            <label>Kullanıcı Tipiniz</label>
                                            <select name="UserType" class="form-control">
                                                @if (userType == 0)
                                                {
                                                    <option value="0" selected>Normal Müşteri</option>
                                                }
                                                else
                                                {
                                                    <option value="2" selected>Nakliyeci</option>
                                                }
                                            </select>

                                            <label>Email Adresi</label>
                                            <input type="email" name="Email" value="@userEmail">
                                            <label>Kayıt Tarihi</label>
                                            <input disabled type="text" value="@userRecordData">
                                            <div class="save_button primary_btn default_button">
                                                <button class="btn btn-success" type="submit">Bilgileri Güncelle</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="dashboard">
                            <h3>İlan Bilgilerim </h3>
                            <div align="right">
                            </div>
                            <div align="right">
                                <a href="/User/UserSoldProducts" style="margin-right:3px;" class="btn btn-warning">Satılan Ürünlerim</a>
                                <a href="/User/UserCreateDeclare" class="btn btn-info">Yeni İlan Ekle</a>
                            </div>
                            <br />
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Ürün Resmi</th>
                                        <th>Ürün Adı</th>
                                        <th>Ürün Fiyatı</th>
                                        <th>Ürün Tipi</th>
                                        <th>Onay Durumu</th>
                                        <th>Çoklu Resim</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UserDeclare)
                                    {
                                        <tr>
                                            <td><img height="50" width="50" src="~/img/ProductImages/@item.ImageUrl" /></td>
                                            <td>@item.Name</td>
                                            <td>@item.Price</td>
                                            <td>
                                                @switch (item.FarmerDeclareType)
                                                {
                                                    case 10:
                                                        <p>Büyükbaş Hayvan</p>
                                                        break;
                                                    case 11:
                                                        <p>
                                                            Küçükbaş Hayvan
                                                        </p>
                                                        break;
                                                    case 12:
                                                        <p>
                                                            Kümes Hayvanı
                                                        </p>
                                                        break;
                                                    case 13:
                                                        <p>
                                                            Evcil Hayvan
                                                        </p>
                                                        break;
                                                    case 14:
                                                        <p>
                                                            Süt
                                                        </p>
                                                        break;
                                                    case 15:
                                                        <p>
                                                            Hayvansal Gıda
                                                        </p>
                                                        break;
                                                    case 20:
                                                        <p>
                                                            Traktör
                                                        </p>
                                                        break;
                                                    case 21:
                                                        <p>
                                                            Tarla
                                                        </p>
                                                        break;
                                                    case 22:
                                                        <p>
                                                            Traktör Ekipmanları
                                                        </p>
                                                        break;
                                                    case 23:
                                                        <p>
                                                            Sebze
                                                        </p>
                                                        break;
                                                    case 24:
                                                        <p>
                                                            Meyve
                                                        </p>
                                                        break;
                                                    case 25:
                                                        <p>
                                                            Tahıl Ürünleri
                                                        </p>
                                                        break;
                                                    case 26:
                                                        <p>
                                                            Yem & Otsu Bitkiler
                                                        </p>
                                                        break;
                                                }
                                            </td>
                                            <td>
                                                @if (item.PermissionToSell == false)
                                                {
                                                    <button type="submit" class="btn btn-info btn-sm">Onay Bekleniyor</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-info btn-sm">Yayında</button>
                                                }
                                            </td>
                                            <td>
                                                <form asp-controller="User" asp-action="UserAddMultipleProducts" asp-route-id="@item.Id" method="POST" enctype="multipart/form-data">
                                                    <div class="fallback">
                                                        <center><input type="file" name="file" multiple></center> <br />

                                                        <input type="submit" class="btn btn-warning btn-sm mr-1" value="Çoklu Resim Ekle" />
                                                        <a asp-controller="User" asp-action="UserGetMultipleProductImages" asp-route-id="@item.Id"><input type="button" class="btn btn-info btn-sm" value="Yüklü Resimler" /></a>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <center>
                                                    <a asp-controller="User" asp-action="UserEditDeclare" asp-route-id="@item.Id" class="btn btn-success btn-sm">Düzenle</a>
                                                    <br />
                                                    <a style="margin-top:5px;" asp-controller="User" asp-action="DeleteDeclare" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Sil</a>
                                                </center>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <h3>Orders</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>May 10, 2018</td>
                                            <td><span class="success">Completed</span></td>
                                            <td>$25.00 for 1 item </td>
                                            <td><a href="cart.html" class="view">view</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>May 10, 2018</td>
                                            <td>Processing</td>
                                            <td>$17.00 for 1 item </td>
                                            <td><a href="cart.html" class="view">view</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="downloads">

                            <h3 style="color:red;">Şifre İşlemleri</h3>
                            <div class="table-responsive">
                                <form asp-controller="User" asp-action="UserChangedPassword" method="post">

                                    <label>Mevcut Şifreniz</label>
                                    <input type="password" value="@userPassword" class="form-control">

                                    <input type="hidden" name="Id" value="@Id">

                                    <label>Yeni Şifre *</label>
                                    <input type="text" name="Password" class="form-control">

                                    <label>Şifre Tekrar *</label>
                                    <input type="text" name="RePassword" class="form-control">
                                    <br />
                                    <div class="save_button primary_btn default_button" align="right">
                                        <button class="btn btn-success" type="submit">Şifre Güncelle</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="tab-pane" id="address">

                            <div align="right">
                                <a href="/User/UserOldMessage" class="btn btn-info">Gönderilen Mesajlar</a>
                                <a href="/User/UserNewMessage" class="btn btn-info">Yeni Mesaj</a>
                            </div>
                            <br />

                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Mesaj Gönderen Ad Soyad</th>
                                        <th>Mesaj Gönderen Telefon No</th>
                                        <th>Mesaj Konusu</th>
                                        <th>Mesaj İçeriği</th>
                                        <th>Mesaj Gönderim Tarihi</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var id = 0;
                                    }
                                    @foreach (var item in ViewBag.SendGetMessage)
                                    {
                                        <tr>
                                            @foreach (var activeUserNameSurname in ViewBag.GetByIdMessage)
                                            {
                                                if (item.UserSenderId == activeUserNameSurname.Id)
                                                {
                                                    id = activeUserNameSurname.Id;
                                                    <td>@activeUserNameSurname.Name @activeUserNameSurname.Surname</td>
                                                    <td>@activeUserNameSurname.PhoneNumber </td>
                                                }
                                            }

                                            <td>@item.Subject</td>
                                            <td>@item.MessageContent</td>
                                            <td>@item.MessageDate</td>
                                            <td>
                                                <a asp-controller="User" asp-action="UserNewMessage" asp-route-id="@id"><button type="submit" class="btn btn-info btn-sm">Cevapla</button></a>
                                                <a asp-controller="User" asp-action="UserDeleteMessage" asp-route-Id="@item.Id"><button type="submit" class="btn btn-danger btn-sm">Sil</button></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

