@using HappyFarmer.Business.Abstract
@inject IGlobalMessageService _globalMessageService;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Çiftçi Asistanım</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="~/admin/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/admin/css/font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="~/admin/css/basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="~/admin/css/custom.css" rel="stylesheet" />
    <link href="~/dropzone-5.7.0/dist/min/dropzone.min.css" rel="stylesheet" />
    <link href="~/dropzone-5.7.0/dist/min/style.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e86f02035bcbb0c9aad52ab/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</head>

@{ 
    HappyFarmer.DataAccess.Concrete.FarmerContext farmerContext = new HappyFarmer.DataAccess.Concrete.FarmerContext();
    var list = farmerContext.AdminMessages.ToList();

    var globalFarmerMessages = _globalMessageService.GetAll(true);
    var globalCarrierMessages = _globalMessageService.GetCarrierGlobalMessages(true);
   
}
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Happy Farmer Admin Panel</a>
            </div>

            <div class="header-right">

                <a asp-controller="Admin" asp-action="AdminMessages" class="btn btn-info" title="New Message"><b>@list.Count() </b><i class="fa fa-envelope-o fa-2x"></i></a>
                <a asp-controller="Admin" asp-action="AdminGlobalMessagesPermission" asp-route-type="AdminFarmerComments" class="btn btn-primary" title="Çiftçi Yorumları"><b>@globalFarmerMessages.Count()</b><i class="fa fa-comments fa-2x"></i></a>
                <a asp-controller="Admin" asp-action="AdminGetCarrierGlobalMessages" class="btn btn-success" title="Nakliyeci Yorumları"><b>@globalCarrierMessages.Result.Count()</b><i class="fa fa-comment-o fa-2x"></i></a>
                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger" title="Çıkış"><i class="fa fa-exclamation-circle fa-2x"></i></a>

            </div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="user-img-div">
                            <img src="~/admin/img/Ben.jpg" height="180" class="img-thumbnail" />

                            <div class="inner-text">
                                Veysel MUTLU
                                <br />
                                <small>Çevrimiçi </small>
                            </div>
                        </div>

                    </li>


                    <li>
                        <a class="active-menu" asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard "></i>Anasayfa</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-desktop "></i>Hayvancılık<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.KucukBas"><i class="fa fa-toggle-on"></i>Küçük Baş Hayvancılık</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.BuyukBas"><i class="fa fa-bell "></i>Büyük Baş Hayvancılık</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Kumes"><i class="fa fa-bell "></i>Kumes Hayvancılıgı</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Evcil"><i class="fa fa-bell "></i>Evcil Hayvancılık</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Sut"><i class="fa fa-code "></i>Hayvan Sütü</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.YiyecekIcecek"><i class="fa fa-code "></i>Hayvansal Yiyecek & İçecek</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-yelp "></i>Tarım<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Traktor"><i class="fa fa-coffee"></i>Traktör İlanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tarla"><i class="fa fa-flash "></i>Tarla İlanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Ekipman"><i class="fa fa-key "></i>Tarla Ekipmanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Sebze"><i class="fa fa-send "></i>Sebze İlanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Meyve"><i class="fa fa-send "></i>Meyve İlanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tahıl"><i class="fa fa-send "></i>Tahıl İlanları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.YemAndOtsuBitki"><i class="fa fa-send "></i>Yem & Otsu Bitki İlanları</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="CustomerDeclareRequest"><i class="fa fa-edit "></i>Müşteri İlanları</a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Carrier"><i class="fa fa-flash "></i>Nakliyeci</a>

                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Users"><i class="fa fa-square-o "></i>Site Kullanıcıları</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bicycle "></i>Gelen Kutusu <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a asp-controller="Admin" asp-action="AdminMessages"><i class="fa fa-desktop "></i>Site Üzerinden Gelen Mesajlar </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminGlobalMessagesPermission"><i class="fa fa-code "></i>Global Çiftçi Yorumları</a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminGetCarrierGlobalMessages"><i class="fa fa-envelope-open-o "></i>Global Nakliyeci Yorumları</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="GeneralSettings"><i class="fa fa-anchor "></i>Ayarlar</a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="GetAboutUs"><i class="fa fa-bug "></i>Hakkımızda</a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Blog"><i class="fa fa-id-card "></i>Blog Yazıları</a>
                    </li>
                    <li>
                        <a href="/Admin/AdminCategory/"><i class="fa fa-sign-in "></i>Kategoriler</a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="GeneralInformation"><i class="fa fa-newspaper-o "></i>Site Bilgilendirmeleri</a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Slider"><i class="fa fa-square-o "></i>Slider</a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="GetAdminBanner"><i class="fa fa-picture-o "></i>Banner</a>
                    </li>
                </ul>
                <div class="widget_list widget_tag">
                    <div class="widget_title">
                        <h3 style="color:white;">Gündemden Haberler</h3>
                    </div>
                    <div class="tag_widget">
                        <iframe src="https://siteneekle.haber7.com/manset-250-250.html" frameborder="0" width="250" height="250" framespacing="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>

        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    <div id="footer-sec">
        &copy; 2020 HappyFarmer | Design By : <a href="http://www.veyselmutlu.online/" target="_blank">
    Veysel MUTLU
    <a href="http://www.ipadresi.net" title="ip adresi"><img src="http://in3.sitekodlari.com/ipadresi12.php" border="0" alt="ip adresi"></a>
</a>
    </div>

    <!-- /. FOOTER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/admin/js/jquery-1.10.2.js"></script>
    <script src="~/dropzone-5.7.0/dist/min/dropzone.min.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/admin/js/bootstrap.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/admin/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/admin/js/custom.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
