@model BlogModel
@{
    ViewData["Title"] = "GetBlogArticleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>Blog Detay</h3>
                    <ul>
                        <li><a href="index.html">Anasayfa</a></li>
                        <li>Blog Detay</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="blog_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_wrapper blog_wrapper_details">
                    <article class="single_blog">
                        <figure>
                            <div class="post_header">
                                <h3 class="post_title">@Model.Title</h3>
                                <div class="blog_meta">
                                    <p>Blog Ekleyen Ad Soyad : <a href="#">@Model.CreatedDate</a> | <a href="#">@ViewBag.BlogUsers</a></p>
                                </div>
                            </div>
                            <div class="blog_thumb">
                                <a href="#"><img src="~/img/BlogImages/@Model.ImagePath" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <div class="post_content" style="text-align: justify;">
                                    @Model.Description
                                   
                                </div>
                                <div class="entry_content">
                                    <div class="social_sharing">
                                        <p>share this post:</p>
                                        <ul>
                                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                    <div class="related_posts">
                        <h3>Diğer Blog Yazıları</h3>
                        <div class="row">
                            @foreach (var item in ViewBag.GetAllBlogs)
                            {
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <article class="single_related">
                                        <figure>
                                            <div class="related_thumb">
                                                <a asp-controller="Home" asp-action="GetBlogArticleDetails" asp-route-id="@item.Id"><img style="width:230px; height:150px;" src="~/img/BlogImages/@item.ImagePath" alt=""></a>
                                            </div>
                                            <figcaption class="related_content">
                                                <h4><a href="#">@item.Title</a></h4>
                                                <div class="blog_meta">
                                                    <span class="author">By : <a href="#">@ViewBag.BlogUsers</a> / </span>
                                                    <span class="meta_date"> @item.CreatedDate</span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="comments_box">
                        <h3>@Model.Comments.Count() Yorum</h3>
                        @foreach (var comments in Model.Comments)
                        {
                            <div class="comment_list">
                                <div class="comment_thumb">
                                    <img src="assets\img\blog\comment3.png.jpg" alt="">
                                </div>
                                <div class="comment_content">
                                    <div class="comment_meta">
                                        <h5><a href="#">@comments.Name @comments.Surname</a></h5>
                                        <span>@comments.CommentDate</span>
                                    </div>
                                    <p>@comments.Comment</p>
                                </div>
                            </div>
                        }
                    </div>

                    @if (ViewBag.ActiveWhoUser != null)
                    {
                        <div class="comments_form">
                            <h3>Yorum Bırakın</h3>
                            <p>Blog Yazısına ait fikir - görüş ve önerilerinizi bizimle paylaşın*</p>
                            <form asp-controller="Home" asp-action="CreateComment" method="post">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="review_comment">Yorumunuz</label>
                                        <textarea name="Comment" id="review_comment"></textarea>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="author">İsim</label>
                                        <input id="author" name="Name" type="text">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="author">Soyisim</label>
                                        <input id="author" name="Surname" type="text">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="email">Email </label>
                                        <input id="email" name="Email" type="text">
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="website">Website </label>
                                        <input id="website" name="WebSite" type="text">
                                        <input name="blogId" value="@Model.Id" type="hidden">
                                    </div>
                                </div>
                                <button class="button" type="submit">Yorum Gönder</button>
                            </form>
                        </div>
                    }

                    else
                    {
                        <div class="comments_form">
                            <h3>Yorum Bırakın</h3>
                            <p>Blog Yazısına Yorum Yapabilmek için lütfen üye olup giriş yapınız... *</p>
                        </div>
                    }
                </div>
                <!--blog grid area start-->
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="blog_sidebar_widget">
                    <div class="widget_list widget_post">
                        <div class="widget_title">
                            <h3>Diğer Blog Yazılarımız</h3>
                        </div>
                        @foreach (var item in ViewBag.GetAllBlogs)
                        {
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a asp-controller="Home" asp-action="GetBlogArticleDetails" asp-route-id="@item.Id"><img src="~/img/BlogImages/@item.ImagePath" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h4><a asp-controller="Home" asp-action="GetBlogArticleDetails" asp-route-id="@item.Id">@item.Title</a></h4>
                                    <span>@item.CreatedDate</span>
                                </div>
                            </div>
                        }
                        </div>
                    <div class="widget_list widget_categories">
                        <div class="widget_title">
                            <h3>Kategoriler</h3>
                        </div>
                        <ul>
                            @{
                                HappyFarmer.DataAccess.Concrete.FarmerContext context = new HappyFarmer.DataAccess.Concrete.FarmerContext();
                            }
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.KucukBas">Küçük Baş Hayvanclık</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.BuyukBas">Büyük Baş Hayvancılık</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Kumes">Kümes Hayvanları</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Evcil">Evcil Hayvanlar</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.Sut">Süt Ürünleri</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAnimalEnum.YiyecekIcecek">Hayvansal Gıda</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Traktor">Traktörler</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tarla">Tarla & Arazi</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Ekipman">Traktör Ekipmanları</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Sebze">Sebzeler</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Meyve">Meyveler</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.Tahıl">Tahıl Ürünleri</a>
                            </li>
                            <li>
                                <a asp-controller="Category" asp-action="CategoryWithProduct" asp-route-type="@HappyFarmer.DataAccess.Enums.ProductAgricultureEnum.YemAndOtsuBitki">Yem ve Otsu Bitkiler</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget_list widget_tag">
                        <div class="widget_title">
                            <h3>Gündemden Haberler</h3>
                        </div>
                        <div class="tag_widget">
                            <iframe src="https://siteneekle.haber7.com/manset-250-250.html" frameborder="0" width="250" height="250" framespacing="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
